@font-face {
  font-family: "Adventure"; /* Set the name for your font */
  src: url("fonts/Adventure-YGZ2.woff") format("woff"); /* Path to your WOFF file */
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Adventure", Arial, sans-serif; /* Use the custom font */

  background: linear-gradient(
    0deg,
    rgba(174.00000482797623, 125.00000014901161, 71.00000336766243, 1) 0%,
    rgba(115.35949945449829, 82.87320345640182, 47.07198053598404, 1)
      46.00000083446503%,
    rgba(72.00000330805779, 51.72413930296898, 29.37931291759014, 1)
      89.57971930503845%
  );
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%; /* Cover the entire page */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50px;
}

.indimage {
  width: 100%;
  max-width: 600px;
}

.subtitle {
  color: white;
  text-shadow: -4px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 0.5px black; /* Add a black outline */
}

.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  display: flex;
  gap: 20px;
}

.icon {
  width: 80px;
  height: 80px;
}

.gradient-text {
  font-size: 2em; /* Adjust font size as needed */
  background-image: linear-gradient(0deg, #e21143, #ffb03a, #e21143);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: -4px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 0.5px black;
  letter-spacing: 1px;
}

.background {
  background-image: url("assets/ini2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 900px) {
  .background {
    /* background-image: url("assets/ini2.webp"); */
    background-size: cover; /* Contain by height, extend horizontally off the page */
    background-repeat: no-repeat;
    background-position: top center;
    /* Top of the image at the top of the page */
  }
  .indimage {
    width: 80vw;
  }

  .subtitle {
    font-size: 35px;
  }
}
